body{
    background-image: url("../photo/login-background.jpeg");
    background: cover;
}

/*root{
    --primary-color:;
    --secondry-color:;
    --text-color:;
    --background-color:;
    --hover-color:;
    --active-color:;
}*/
.loginHeader{
    text-align: center;
    margin-bottom: 50px;
}
.loginHeader h1{
    font-size: 60px;
    color: #f685a2;
    padding: 0px;
    margin: 0px;
}
.loginHeader p{
    color: #ffdae3;
    font-size: 50px;
    margin:0px;
    display: inline-block;
    text-transform: uppercase;
}
.loginHeader p::after{
    content: '';
    display: block;
    height: 5px;
    background: #f685a2;
    width: 100%;
    margin: 0 auto;
}
.loginBody form{
    margin: 0 auto;
    width: 450px;
    background: rgba(0, 0, 0, .5);
    padding: 80px;
    border: 2px solid #fff;
    border-radius: 8px;
}
.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.loginInputsContainer{
    margin-top: 20px;
}
.loginInputsContainer input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: #fff;
    outline: none;
    font-size: 18px;
}
.btn button{
    margin: center;
    width: 50%;
    padding: 15px 25px;
    background: #f685a2;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.btn button:hover{
    color: black;
    background-color: #fff;
}

