/* Box sizing rules 
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding 
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin 
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults 
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute 
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles 
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with 
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
/*article > * + * {
    margin-top: 1em;
}*/

/* Inherit fonts for inputs and buttons */
/*input,
button,
textarea,
select {
    font: inherit;
}*/

/* Remove all animations and transitions for people that prefer not to see them */
/*@media (prefers-reduced-motion: reduce) {
  * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
}/*
/* Remove default padding */
/*ul[class],
ol[class] {
    padding: 0;
}/*

/* Remove default margin */
/*body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}*/

*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
body#loginBody{
    background-image: url("../photo/login-background.jpeg");
    background: cover;
}

/*root{
    --primary-color:;
    --secondry-color:;
    --text-color:;
    --background-color:;
    --hover-color:;
    --active-color:;
}*/
.loginHeader{
    text-align: center;
    margin-bottom: 50px;
}
.loginHeader h1{
    font-size: 60px;
    color: #f685a2;
    padding: 0px;
    margin: 0px;
}
.loginHeader p{
    color: #ffdae3;
    font-size: 50px;
    margin:0px;
    display: inline-block;
    text-transform: uppercase;
}
.loginHeader p::after{
    content: '';
    display: block;
    height: 5px;
    background: #f685a2;
    width: 100%;
    margin: 0 auto;
}
.loginBody form{
    margin: 0 auto;
    width: 450px;
    background: rgba(0, 0, 0, .5);
    padding: 80px;
    border: 2px solid #fff;
    border-radius: 8px;
}
.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.loginInputsContainer{
    margin-top: 20px;
}
.loginInputsContainer input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #d40339;
    border-radius: 5px;
    background: #fff;
    outline: none;
    font-size: 18px; 
}
.loginButtonContainer{
    text-align: center;

}
.loginButtonContainer button{
    margin: center;
    width: 50%;
    padding: 15px 25px;
    background: #f685a2;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}
.loginButtonContainer button:hover{
    color: black;
    background-color: #fff;
}

